<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Results</title>
</head>
<body>
<form action="/submit" method="POST">
    <label>Language</label>
    <input type="text" name="lang" />
    <br><label>Maths</label>
    <input type="text" name="math" />
    <br>
    <label>Science</label>
    <input type="text" name="science" />
    <br>
    <label>Programming</label>
    <input type="text" name="program" />
    <br>
    <input type="submit" value="Submit">
</form>

</body>
</html>